{{>header}}
<div id="content" class="content error-404">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>404</h1>
			<h2>{{#__}}This page does not exist.{{/__}}</h2>
			<p>
				<img src="{{{_url}}}/assets/img/suitcase-jackinthebox.png" alt="" class="img-responsive">
			</p>
		</div>
	</div>
</div>
{{>footer}}
