{{>header}}
<div id="content" class="content err err-500">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>{{#__}}Error{{/__}} 500</h1>
			<h2>{{#__}}Sorry, something went really wrong.{{/__}}</h2>
			<p>
				<img src="{{{_url}}}/assets/img/suitcase-jackinthebox.png" alt="" class="img-responsive">
			</p>
		</div>
	</div>
</div>
{{>footer}}
