{{>header}}
<div id="content" class="content about">
	<div class="headline">
		<h1>{{#__}}Lobbycloud{{/__}}</h1>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2>{{#__}}What's this?{{/__}}</h2>
			<p>
				{{#__}}So who is writing your laws? Well, at least in part, it's the lobbyists. Lobbyists provide your representatives with a wealth of input. By making their contributions visible, searchable, shareable and commentable for every citizen, LobbyCloud will enhance informed debate and contribute towards a more transparent shaping of public policy. LobbyCloud will drag the whole lobbying process into the light of public debate, making interests and arguments transparent, and shedding light on the ongoing work of lawmakers.{{/__}}
			</p>
			<h2>{{#__}}How does it work?{{/__}}</h2>
			<p>
				{{! Documents are mailed directly to LobbyCloud, or anonymously uploaded by fans of transparency. If the authenticity of the document can be confirmed  by staff, it is prepared for online presentation, enhancing it  with a public web address and the ability to link, share and comment the whole document or distinct pages and paragraphs. }}
				{{#__}}Documents are uploaded into the LobbyCloud by fans of transparency. If the authenticity of the document can be confirmed  by staff, it is prepared for online presentation, enhancing it with a public web address and the ability to link, share and comment the whole document or distinct pages and paragraphs.{{/__}}
			</p>
			<h2>{{#__}}Why Lobbycloud?{{/__}}</h2>
			<p>
				{{#__}}We thought about this service when we built <a href="http://lobbyplag.eu">Lobbyplag</a>, a website focused on the lobbying influence on the EU General Data Protection Regulation. We started that project with denouncing any act of copy-and-paste lawmaking  - but quickly were convinced that it's not the lobbying that is making laws worse. It's the secret lobbying. Influencing out of sight. {{/__}}
			</p>
		</div>
	</div>
</div>
{{>footer}}
