{{>header}}
<div id="content" class="content about">
	<div class="headline">
		<h1>{{#__}}Lobbycloud{{/__}}</h1>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>WTF is this?</h2>
			<p>
				We would like to give you an explanation, what this project is all 
				about, but unfortunately our writer of texts hasn't been able to 
				complete his work. Sorry.
			</p>
		</div>
	</div>
</div>
{{>footer}}