{{>header}}
<div class="container">
	<div id="headline">
		<h1>{{#__}}Sign up{{/__}}</h1>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 white-box">
			{{#thankyou}}
			<h2>{{#__}}Thank you for signing up{{/__}}</h2>
			<p>{{#__}}We will get in touch with you as soon as LobbyCloud is ready for testing.{{/__}}</p>
			{{/thankyou}}
			{{#error}}
			<h2>{{#__}}Error{{/__}}</h2>
			<p>{{#__}}We could not save your data. Please try again later.{{/__}}</p>
			{{/error}}
		</div>
	</div>
</div>
{{>footer}}