{{>header}}
<div id="content" class="content contribution-guidelines">
	<div class="headline">
		<h1>{{#__}}Contribution guidelines &amp; FAQ{{/__}}</h1>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>{{#__}}What documents do you want?{{/__}}</h2>
			<p>{{#__}}Basically, any document that is used to change the mind of a politician. So yes, that's position papers, letters, could even be the menu of a dinner with influential lobbyists. It should of course be relevant for the public and - needless to say - authentic. {{/__}}</p>
			<h2>{{#__}}Does it have to be EU-related?{{/__}}</h2>
			<p>{{#__}}Other political bodys will follow. We're starting with an EU focus because we know Brussels is full of lobbysists, and at the end of May there will be some newly elected lawmakers who we hope will appreciate the service. {{/__}}</p>
			<h2>{{#__}}What happens after I upload?{{/__}}</h2>
			<p>{{#__}}The text of your document will be publically accessible and embeddable, so the text will be indexed by search engines like Google and Bing, and you may highlight, comment, link, discuss and embed parts of the document{{/__}}</p>
			<h2>{{#__}}What types of file do you support?{{/__}}</h2>
			<p>{{#__}}Lobbycloud will be able  process Word, PDF, OpenOffice, PowerPoint or Excel Files. Max. Size is 600MB. If you have bigger files or other document types, please contact us directly via mail or mail the document to <strong>documents@</strong>lobbycloud.eu.{{/__}}</p>
			<h2>{{#__}}Is my contribution anonymous?{{/__}}</h2>
			<p>{{#__}}We encourage you to contribute under your real name, because we like the ideas of openness and transparency. However, we recognize that it may not always be posible to use one's name, so you're free to choose one that suits your needs. We're not logging any of your data, so as far as we are concerned, there's no way to tell who you are other than asking you. Be aware that this is the internet, though, and learn about cloaking your identity online with additional tricks. {{/__}}</p>
		</div>
	</div>
</div>
{{>footer}}
