{{>header}}
<div id="content" class="content document">
	{{#document}}
	<div class="headline">
		<div class="row">
			<div class="col-md-8">
				<h1>{{#__}}Document{{/__}} <strong>{{id}}</strong></h1>
				{{#has_topics_or_organisations}}
				<p>
					{{#__}}Topics{{/__}}: 
					{{#topics}}
						<a href="{{_url}}/topic/{{id}}" title="{{subject}}"><strong>{{label}}</strong></a>{{^last}},{{/last}}
					{{/topics}}
					{{#has_topics_and_organisations}}<br/>{{/has_topics_and_organisations}}
					{{#__}}Organisations{{/__}}:
					{{#organisations}}
						<a href="{{_url}}/organisation/{{id}}" title="{{fullname}}"><strong>{{name}}</strong></a>{{^last}},{{/last}}
					{{/organisations}}
				</p>
				{{/has_topics_or_organisations}}
			</div>
			<div class="col-md-4">
				<p class="tags">
					{{#tags}}<span class="label label-primary">{{.}}</span>{{/tags}}
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			
			<ul class="nav nav-tabs">
			  <li class="active"><a href="#viewer" data-toggle="tab">{{#__}}PDF Viewer{{/__}}</a></li>
			  <li><a href="#text" data-toggle="tab">{{#__}}Extracted Text{{/__}}</a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane active" id="viewer">
					<div class="viewer">
						{{#data.images}}
							<img src="{{_url}}/{{_storage}}/{{file}}" draggable="false" />
						{{/data.images}}
					</div>
				</div>
				<div class="tab-pane" id="text">
					<div class="text">
						{{#data.no_text}}
							{{#__}}[We could not extract text from this document.]{{/__}}
						{{/data.no_text}}
						{{#data.text_lines}}
						<p>{{.}}</p>
						{{/data.text_lines}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">

			<div class="btn-group btn-group-justified">
				<a href="{{_url}}/document/{{id}}/download" class="btn btn-primary btn-lg"><i class="fa fa-download"></i> Download PDF</a>
			</div>

			<h3>{{#__}}Short Link{{/__}}</h3>
			<div class="shortlink">
				<i class="fa fa-chain"></i>
				<a href="http://lby.cl/{{id}}" class="lnk">lby.cl/{{id}}</a>
				<a class="btn btn-dark shortlink-action" title="{{#__}}Copy to clipboard{{/__}}"><i class="fa fa-clipboard"></i></a>
			</div>
			
			<h3>{{#__}}Document Info{{/__}}</h3>
			<ul class="list-group">
				{{#data.info.title}}
				<li class="list-group-item clearfix">
					{{#__}}Title{{/__}}: 
					<strong class="pull-right">{{data.info.title}}</strong>
				</li>
				{{/data.info.title}}
				{{#data.info.subject}}
				<li class="list-group-item clearfix">
					{{#__}}Subject{{/__}}: 
					<strong class="pull-right">{{data.info.subject}}</strong>
				</li>
				{{/data.info.subject}}
				{{#data.info.author}}
				<li class="list-group-item clearfix">
					{{#__}}Author{{/__}}: 
					<strong class="pull-right">{{data.info.author}}</strong>
				</li>
				{{/data.info.author}}
				{{#data.info.keywords}}
				<li class="list-group-item clearfix">
					{{#__}}Keywords{{/__}}: 
					<strong class="pull-right">{{data.info.keywords}}</strong>
				</li>
				{{/data.info.keywords}}
				<li class="list-group-item clearfix">
					{{#__}}Created{{/__}}: 
					<strong class="pull-right">{{data.info.creationdate_readable}}</strong>
				</li>
				<li class="list-group-item clearfix">
					{{#__}}Last Modified{{/__}}: 
					<strong class="pull-right">{{data.info.moddate_readable}}</strong>
				</li>
				<li class="list-group-item clearfix">
					{{#__}}Pages{{/__}}: 
					<strong class="pull-right">{{data.info.pages}}</strong>
				</li>
				<li class="list-group-item clearfix">
					{{#__}}Encrypted{{/__}}: 
					<strong class="pull-right">
						{{#data.info.encrypted}}{{#__}}Yes{{/__}}{{/data.info.encrypted}}
						{{^data.info.encrypted}}{{#__}}No{{/__}}{{/data.info.encrypted}}
					</strong>
				</li>
				<li class="list-group-item clearfix">
					{{#__}}Dimensions{{/__}}: 
					<strong class="pull-right">{{data.info.width}} &times; {{data.info.height}}</strong>
				</li>
				<li class="list-group-item clearfix">
					{{#__}}Filesize{{/__}}: 
					<strong class="pull-right">{{data.info.size_readable}}</strong>
				</li>
				<li class="list-group-item clearfix">
					{{#__}}SHA1 Hash{{/__}}: 
					<strong class="pull-right">{{data.hash}}</strong>
				</li>
			</ul>
		</div>
	</div>
	{{/document}}
</div>
{{>footer}}



