	</div>
	<footer class="container">
		{{#__}}made by{{/__}}
		<a href="//opendatacity.de" rel="follow" title="OpenDataCity" class="odc">OpenDataCity</a>
		{{#__}}with support of{{/__}}
		<a href="//greens-efa.eu" rel="follow" title="The Greens | EFA in the European Parliament" class="greens-efa">{{#__}}The Greens | EFA in the European Parliament{{/__}}</a>
	</footer>
</body>
</html>