{{>header}}
<div id="content" class="content">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>{{#__}}Imprint{{/__}}</h2>
			<p>
				<strong>Datenfreunde UG (haftungsbeschränkt)</strong>
			</p>
			<p>
				Oranienstraße 19A, 10999 Berlin
			</p>
			<p>
				{{#__}}Phone{{/__}}: <strong><a href="tel:+493095625993">+49 30 95625993</a></strong><br />
				{{#__}}E-Mail{{/__}}: <strong><a href="mailto:info@datenfreunde.com">info@datenfreunde.com</a></strong>
			</p>
				{{#__}}Commercial registry{{/__}} Charlottenburg: <strong>HRB 150940</strong><br />
				{{#__}}VAT ID{{/__}}: <strong>DE289682945</strong>
			</p>
			<p>
				Datenfreunde UG (haftungsbeschränkt) {{#__}}is represened by{{/__}} <strong>Marco Maas</strong> ({{#__}}Managing Director{{/__}}) {{#__}}and{{/__}} <strong>Carl Ziegner</strong> ({{#__}}Authorized Representative{{/__}}).
			</p>
			<p>
				{{#__}}Responsibility for this websites according to §55.2 RStV and/or §5 TMG lies with{{/__}} <strong>Sebastian Vollnhals</strong>.
			</p>
		</div>
	</div>
</div>
{{>footer}}
