{{>header}}
{{>intro}}
<div id="content" class="content">
	<div class="row">
		<div class="col-md-6">
			<h2>{{#__}}Hot Topics{{/__}}</h2>
			<p>
				...
			</p>
			<p>
				<a href="{{{_url}}}/topics" class="btn btn-primary" role="button">{{#__}}Browse topics{{/__}}</a>
			</p>
		</div>
		<div class="col-md-6">
			<h2>{{#__}}Avid Organisations{{/__}}</h2>
			<p>
				...
			</p>
			<p>
				<a href="{{{_url}}}/organisations" class="btn btn-primary" role="button">{{#__}}Browse organisations{{/__}}</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>{{#__}}Latest Releases{{/__}}</h2>
			<p>
				...
			</p>
			<a href="{{{_url}}}/documents" class="btn btn-primary">{{#__}}Browse documents{{/__}}</a>
		</div>
	</div>
</div>
{{>footer}}