{{>header}}
{{>intro}}
<div id="content" class="content index">
	<div class="row">
		<div class="col-md-6">
			<h2>{{#__}}Hot Topics{{/__}}</h2>
			{{#topics}}
			<div class="topic clearfix">
				<h3><a href="{{{_url}}}/topic/{{id}}">{{label}}</a></h3>
				<p class="subject"><a href="{{{_url}}}/topic/{{id}}">{{subject}} <i class="fa fa-arrow-right"></i></a></p>
			</div>
			{{/topics}}
			<p>
				<a href="{{{_url}}}/topics" role="button">{{#__}}Browse all topics{{/__}} <i class="fa fa-arrow-right"></i></a>
			</p>
		</div>
		<div class="col-md-6">
			<h2>{{#__}}Latest Documents{{/__}}</h2>
			<div class="document-stack clearfix">
				{{#documents}}
				<div class="document">
					<a href="{{{_url}}}/document/{{id}}"><img src="{{{_url}}}/{{{_storage}}}/{{thumb}}" class="img-responsive"></a>
				</div>
				{{/documents}}
			</div>
			<a href="{{{_url}}}/documents">{{#__}}Browse all documents{{/__}} <i class="fa fa-arrow-right"></i></a>
		</div>
	</div>
</div>
{{>footer}}