<!--- ToDo: Move This to Bootstrap.css -->
<style>

.intro-text a.textlink { color: #004000; font-weight: 600;}

.intro-text p { line-height: 140%; }
</style>

<div id="intro">
	<div class="jumbotron">
		<div class="row">
			<div class="intro-text col-md-7 col-md-push-5">
				<h1>{{#__}}LobbyCloud{{/__}}</h1>
				<p>
					{{#__}}LobbyCloud is a library of influences on public policy.{{/__}}
					{{#__}}We publish lobby documents circulating in the EU bureaucracy. {{/__}}
				</p>
				<p>
					<a href="{{{_url}}}/about" class="more">{{#__}}Learn more{{/__}} <i class="fa fa-arrow-right"></i></a>
				</p>
			</div>
			<div class="col-md-5 col-md-pull-7">
				<img src="{{{_url}}}/assets/img/suitcase.png" class="img-responsive" alt="{{#__}}A auitcase full of papers flying away{{/__}}">
			</div>
		</div>
	</div>
	<div class="intro-box">
		<div class="row">
			<div class="col-md-4">
				<div class="image">
					<img src="{{{_url}}}/assets/img/intro-engage.png" class="img-responsive" alt="">
				</div>
				<!-- <h3><i class="fa fa-bolt"></i> {{#__}}Engage{{/__}}</h3> -->
				<!-- <p>{{#__}}Pinpoint key interests and stakeholders, drag backroom positions out to the public view and generate public discussions, encourage drowned out voices to be heard by amplifiying them.{{/__}}</p> -->
				<h3><i class="fa fa-briefcase"></i> {{#__}}Discover Policy{{/__}}</h3>
				<p>
					{{#__}}Were you aware that a US business organization representing Facebook, Microsoft and others{{/__}} <a href="{{{_url}}}/document/4hfhu5tp">{{#__}}protested against Data Protection for 14-year-olds{{/__}}</a> {{#__}}or that Vodafone is sweettalking lawmakers into granting{{/__}} <a href="{{{_url}}}/document/hkfyn968">{{#__}}never-expiring licenses for public radio spectrum{{/__}}</a>?
				</p>
				<p>
					{{#__}}These are just two examples you could have discovered through LobbyCloud.{{/__}}
				</p>
			</div>
			<div class="col-md-4">
				<div class="image">
					<img src="{{{_url}}}/assets/img/intro-research.png" class="img-responsive" alt="">
				</div>
				<h3><i class="fa fa-filter"></i> {{#__}}Research{{/__}}</h3>
				<p>{{#__}}Whose words are they using? Whose do positions overlap? Which arguments are based on the same set of underlying facts? Navigate the deluge of position papers, proposals and white papers.{{/__}}</p>
			</div>
			<div class="col-md-4">
				<div class="image">
					<img src="{{{_url}}}/assets/img/intro-contribute.png" class="img-responsive" alt="">
				</div>
				<h3><i class="fa fa-cloud-upload"></i> {{#__}}Contribute{{/__}}</h3>
				<p>{{#__}}Got your hands on some interesting lobby documents? Upload them and we will add these documents to our repository after a review, so they become available to the public.{{/__}}</p>
			</div>
		</div>
	</div>
</div>
