<option value="en">English</option>
<option value="de">Deutsch</option>
<option value="fr">Français</option>
<option value="es">Español</option>
<option value="bg">български</option>
<option value="cs">Čeština</option>
<option value="da">Dansk</option>
<option value="el">Ελληνικά</option>
<option value="et">Eesti</option>
<option value="fi">Suomi</option>
<option value="ga">Gaeilge</option>
<option value="hu">Magyar</option>
<option value="it">Italiano</option>
<option value="lt">Lietuvių</option>
<option value="lv">Latviešu</option>
<option value="mt">Malti</option>
<option value="nl">Nederlands</option>
<option value="pl">Polski</option>
<option value="pt">Português</option>
<option value="ro">Română</option>
<option value="sk">Slovenčina</option>
<option value="sl">Slovenščina</option>
<option value="sv">Svenska</option>