{{>header}}
<div class="container vcard" itemtype="http://schema.org/Person" itemscope="">
    <div class="row">
		{{#profile}}
            <div class="col-md-12">
                <br/>

                <h1 class="vcard-names">
					{{#name}}
                        <span itemprop="name" class="vcard-fullname">{{name}}</span>
                        -
					{{/name}}
                    <span itemprop="additionalName" class="vcard-username">{{id}}</span>
                </h1>
                <br/>
            </div>
		{{/profile}}
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="//www.gravatar.com/avatar/{{profile.gravatar}}.png?s=460&amp;d=mm&amp;r=pg" width="230" height="230">
        </div>
        <div class="col-md-6 vcard-details">
            <table class="table table-responsive">
                <tr>
                    <td colspan="2" class="text-muted">{{#__}}Profile{{/__}}</td>
                </tr>
				{{#profile}}
					{{#organisation}}
                        <tr>
                            <td class="bold">{{#__}}Organisation{{/__}}</td>
                            <td itemprop="worksFor" class="text-right">{{organisation}}</td>
                        </tr>
					{{/organisation}}
					{{#location}}
                        <tr>
                            <td class="bold">{{#__}}Location{{/__}}</td>
                            <td itemprop="location" class="text-right">{{location}}</td>
                        </tr>
					{{/location}}
					{{#organisation}}
                        <tr>
                            <td class="bold">{{#__}}Description{{/__}}</td>
                            <td itemprop="description" class="text-right">{{description}}</td>
                        </tr>
					{{/organisation}}
					{{#profile.url}}
                        <tr>
                            <td class="bold">{{#__}}Website{{/__}}</td>
                            <td itemprop="url" class="text-right"><a rel="nofollow" href="{{profile.url}}">{{profile.url}}</a></td>
                        </tr>
					{{/profile.url}}
					{{#is_own}}
                        <tr>
                            <td class="bold">{{#__}}Email{{/__}}</td>
                            <td class="text-right">{{email}}
								{{#verified}}<i class="fa fa-check" title="{{#__}}Verified{{/__}}"></i>{{/verified}}
								{{^verified}}<i class="fa fa-question" title="{{#__}}Not Verified{{/__}}"></i>
                                    <br/>
                                    <a id="btn-request-validation" href="javascript:;"><i class="fa fa-envelope-o"></i> {{#__}}Request Validation Email{{/__}}</a>
								{{/verified}}
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{#__}}Joined{{/__}}</td>
                            <td class="text-right">{{#moment}}{{created}}{{/moment}}</td>
                        </tr>
					{{/is_own}}
				{{/profile}}
            </table>
        </div>
		{{#is_own}}
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">{{#__}}Actions{{/__}}</div>
                    <div class="panel-body">
                        <a class="btn btn-link"><i class="fa fa-edit"></i> {{#__}}Edit Profile{{/__}}</a>
                        <a class="btn btn-link" href="{{url}}/users/reset/password"><i class="fa fa-lock"></i> {{#__}}Change Password{{/__}}</a>
                        <a class="btn btn-link"><i class="fa fa-trash-o"></i> {{#__}}Delete Profile{{/__}}</a>
                    </div>
                </div>
            </div>
		{{/is_own}}
    </div>

    <div id="action-info" class="row hidden">
        <div class="col-md-12">
            <div id="action-info-progress" class="alert alert-info"><i class="fa fa-spinner fa-spin"></i> {{#__}}Requesting{{/__}}</div>
            <div id="action-info-result" class="alert hidden"></div>
        </div>
    </div>
</div>
{{>footer}}