{{>header}}
<div class="container">
    <div id="headline">
        <h1>{{#__}}Change Password{{/__}}</h1>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 white-box">
 			{{#message}}
                <div class="alert alert-danger">{{message}}</div>
			{{/message}}
            <form action="{{{url}}}/users/reset/{{key}}" method="post" role="form">
                    <fieldset>
						{{#needs_old_password}}
                            <div class="form-group">
                                <label for="password-old">{{#__}}Enter your old password{{/__}}</label>
                                <input type="password" name="password-old" class="form-control" id="password-old" placeholder="{{#__}}Old Password{{/__}}">
                            </div>
						{{/needs_old_password}}
                        <div class="form-group">
                            <label for="password">{{#__}}Pick a strong new password{{/__}}</label>
                            <input type="password" name="password" class="form-control strengthometer" id="password" placeholder="{{#__}}New Password{{/__}}">
                        </div>
                        <div class="form-group">
                            <label for="password-verify">{{#__}}Repeat your chosen password for verification{{/__}}</label>
                            <input type="password" name="password-verify" class="form-control" id="password-verify" placeholder="{{#__}}Retype new Password{{/__}}">
                        </div>
                    </fieldset>
                <input type="hidden" name="submit" value="1">
                <button type="submit" class="btn btn-primary">{{#__}}Change Password{{/__}}</button>
            </form>
        </div>
    </div>
</div>
{{>footer}}