{{>header}}
<div class="container">
    <div id="headline">
        <h1>{{#__}}Search in Documents{{/__}}</h1>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 white-box">
            <form action="{{{_url}}}/search" method="post" class="form-inline" role="form">
                <div class="form-group">
                    <input type="text" name="query" class="form-control" id="query" value="{{query}}" placeholder="{{#__}}Your search query{{/__}}">
                </div>
                <button type="submit" class="btn btn-primary">{{#__}}Search{{/__}}</button>
            </form>
        </div>
    </div>
	{{#items}}
   		 <div class="row">
			<div class="col-md-12">
				<h2>{{orig}}</h2>
				<p><strong>{{score}}</strong></p>
			</div>
        </div>
	{{/items}}
	{{^items}}
		No results :.(
	{{/items}}
</div>
{{>footer}}