{{>header}}
<div id="content" class="content contribution-guidelines">
	<div class="headline">
		<h1>{{#__}}Feature Shop{{/__}}</h1>
	</div>
	<div class="row">
	<div class="intro-box">
		<div class="row">
			<div class="col-md-4">
				<!-- <h3><i class="fa fa-bolt"></i> {{#__}}Engage{{/__}}</h3> -->
				<!-- <p>{{#__}}Pinpoint key interests and stakeholders, drag backroom positions out to the public view and generate public discussions, encourage drowned out voices to be heard by amplifiying them.{{/__}}</p> -->
				<h3><i class="glyphicon glyphicon-filter"></span></i> {{#__}}Discover Policy{{/__}}</h3>
				<p>
					{{#__}}Were you aware that a US business organization representing Facebook, Microsoft and others{{/__}} <a href="{{{_url}}}/document/4hfhu5tp">{{#__}}protested against Data Protection for 14-year-olds{{/__}}</a> {{#__}}or that Vodafone is sweettalking lawmakers into granting{{/__}} <a href="{{{_url}}}/document/hkfyn968">{{#__}}never-expiring licenses for public radio spectrum{{/__}}</a>?
				</p>
				<p>
					{{#__}}These are just two examples you could have discovered through LobbyCloud.{{/__}}
				</p>
				<p>
				  <a class="btn btn-large btn-success">Add to Cart</a>
				</p>
			</div>
			<div class="col-md-4">
				<h3><i class="fa fa-filter"></i> {{#__}}Research{{/__}}</h3>
				<p>{{#__}}Whose words are they using? Whose do positions overlap? Which arguments are based on the same set of underlying facts? Navigate the deluge of position papers, proposals and white papers.{{/__}}</p>
			</div>
			<div class="col-md-4">
				<h3><i class="fa fa-cloud-upload"></i> {{#__}}Contribute{{/__}}</h3>
				<p>{{#__}}Got your hands on some interesting lobby documents? Upload them and we will add these documents to our repository after a review, so they become available to the public.{{/__}}</p>
			</div>
		</div>
	</div>
	</div>
</div>
{{>footer}}
