o{{>header}}
<div id="content" class="content shop">
	<div class="headline">
		<h1>{{#__}}Feature Sponsor Shop{{/__}}</h1>
	</div>
	<div class="row">
	<div class="intro-box">
		<div class="row">
		 <div class="col-md-2"></div>
		 <div class="col-md-8"><h3>How can we make LobbyCloud a better tool for you and every EU citizen? Please see our shopping list below for ideas you or your organization could sponsor, or suggest features you would like to pay for. Sponsorship will buy the feature for everybody, and entitle you to a link and logo on the site.    </h4></div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h3><span class="glyphicon glyphicon-envelope"></span> {{#__}}Alerts{{/__}} <span class="badge">9.200 €</span></h3>
				<p>
					{{#__}}LobbyCloud will send out alerts when new comments or documents are added for the topics that its users subscribe to.{{/__}}
				</p>
				<p>
				  <a class="btn btn-large btn-danger">{{#__}}Add to Cart{{/__}} <span class="glyphicon glyphicon-shopping-cart"></span></a>
				</p>
			</div>
			<div class="col-md-4">
				<h3><span class="glyphicon glyphicon-list-alt"></span> {{#__}}Lobby Register{{/__}} <span class="badge">1.300 €</span>
</h3>
				<p>
					{{#__}}LobbyCloud will display the oficial status of the lobbying organizations or individuals, and information from the oficial EU lobby register if available. {{/__}}
				</p>
				<p>
				  <a class="btn btn-large btn-danger">{{#__}}Add to Cart{{/__}} <span class="glyphicon glyphicon-shopping-cart"></span></a>
				</p>
			</div>
			<div class="col-md-4">
				<h3><span class="glyphicon glyphicon-star-empty"></span> {{#__}}Your Favourite Feature{{/__}} <span class="badge"><i>tba</i></span> </h3>
				<p>
					{{#__}}Make a wish! We'll add the feature or translation your organization needs to be informed or get their work done.  {{/__}}</span>
				</p>
				<p>
				  <a class="btn btn-large btn-danger">{{#__}}Add to Cart{{/__}} <span class="glyphicon glyphicon-shopping-cart"></span></a>
				</p>
			</div>
		</div>
	</div>
	</div>
</div>
{{>footer}}
