{{>header}}
<div class="container">
	<div id="headline">
		<h1>{{#__}}Sign up{{/__}}</h1>
	</div>
	{{^invited}}
	<div class="row">
		<div class="col-md-6 col-md-offset-3 white-box">
			<h2>{{#__}}Are you invited?{{/__}}</h2>
			<p>{{#__}}LobbyCloud is still in closed beta. In order to sign up, you need an invite key.{{/__}}</p>
			<form  action="{{{url}}}/signup" method="post" class="form-inline" role="form">
				<div class="form-group">
					<label for="invite">{{#__}}Invite key{{/__}}</label>
					<input type="text" name="invite" class="form-control" id="invite" value="{{invitekey}}" placeholder="{{#__}}Your beta invite key{{/__}}">
				</div>
				<button type="submit" class="btn btn-primary">{{#__}}Sign up{{/__}}</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 white-box">
			<h2>{{#__}}Get invited!{{/__}}</h2>
			<p>{{#__}}Let us know about your interest in LobbyCloud. We will put you on the waiting list.{{/__}}</p>
			<form action="{{{url}}}/beta" method="post" role="form">
				<div class="form-group">
					<label for="name">{{#__}}Your name{{/__}}</label>
					<input type="text" name="name" class="form-control" id="name" placeholder="{{#__}}Enter your name{{/__}}">
				</div>
				<div class="form-group">
					<label for="email">{{#__}}Email address{{/__}}</label>
					<input type="email" name="email" class="form-control" id="email" placeholder="{{#__}}Enter your email address{{/__}}">
				</div>
				<div class="form-group">
					<label>{{#__}}What is your motivation to sign up?{{/__}}</label>
					<div class="radio">
						<label>
							<input type="radio" name="motivation" id="motivation-ctz" value="ctz" checked="checked">
							{{#__}}I'm an interested citizen{{/__}}
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="motivation" id="motivation-rep" value="rep">
							{{#__}}I am or work for a representative, political group or party{{/__}}
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="motivation" id="motivation-lob" value="lob">
							{{#__}}I'm a lobbyist or work at an interest group{{/__}}
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="motivation" id="motivation-ngo" value="ngo">
							{{#__}}I work for an NGO or political campaign{{/__}}
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="motivation" id="motivation-edu" value="edu">
							{{#__}}I work in political education{{/__}}
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="motivation" id="motivation-jrn" value="jrn">
							{{#__}}I'm a blogger, podcaster or other journalist{{/__}}
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="motivation" id="motivation-dev" value="dev">
							{{#__}}I'm a software developer{{/__}}
						</label>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">{{#__}}Get invited{{/__}}</button>
			</form>	
		</div>
	</div>
	{{/invited}}
	{{#invited}}
	<div class="row">
		<div class="col-md-6 col-md-offset-3 white-box">
			<h2>{{#__}}Ready to sign you up!{{/__}}</h2>
			{{#message}}
			<div class="alert alert-danger">{{message}}</div>
			{{/message}}
			<form action="{{{url}}}/signup" method="post" role="form">
				<fieldset>
					<div class="form-group">
						<label for="invite">{{#__}}Invite key{{/__}}</label>
						<input type="text" name="invite" class="form-control" id="invite" value="{{invite}}" placeholder="{{#__}}Your beta invite key{{/__}}">
					</div>
				</fieldset>
				{{#form}}
				<fieldset>
					<div class="form-group">
						<label for="username">{{#__}}Username{{/__}}</label>
						<input type="text" name="username" class="form-control" id="username" value="{{username}}" placeholder="{{#__}}Username{{/__}}">
					</div>
					<div class="form-group">
						<label for="email">{{#__}}Email address{{/__}}</label>
						<input type="email" name="email" class="form-control" id="email" value="{{email}}" placeholder="{{#__}}Enter your email address{{/__}}">
					</div>
					<div class="form-group">
						<label for="password">{{#__}}Pick a strong password{{/__}}</label>
						<input type="password" name="password" class="form-control strengthometer" id="password" placeholder="{{#__}}Password{{/__}}">
					</div>
					<div class="form-group">
						<label for="password-verify">{{#__}}Repeat your chosen password for verification{{/__}}</label>
						<input type="password" name="password-verify" class="form-control" id="password-verify" placeholder="{{#__}}Retype Password{{/__}}">
					</div>
				</fieldset>
				<fieldset>
					<div class="form-group">
						<label for="name">{{#__}}Your name{{/__}}</label>
						<input type="text" name="name" class="form-control" id="name" value="{{name}}" placeholder="{{#__}}Enter your name{{/__}}">
					</div>
					<div class="form-group">
						<label for="location">{{#__}}Your location{{/__}} ({{#__}}optional{{/__}})</label>
						<input type="text" name="location" class="form-control" id="location" value="{{location}}" placeholder="{{#__}}Your location{{/__}}">
					</div>
					<div class="form-group">
						<label for="organisation">{{#__}}Your organisation{{/__}} ({{#__}}optional{{/__}})</label>
						<input type="text" name="organisation" class="form-control" id="organisation" value="{{organisation}}" placeholder="{{#__}}Your organisation{{/__}}">
					</div>
					<div class="form-group">
						<label for="description">{{#__}}Description{{/__}} ({{#__}}optional{{/__}})</label>
						<textarea class="form-control" rows="3" name="description" id="description" placeholder="{{#__}}Description{{/__}}">{{description}}</textarea>
					</div>
					<div class="form-group">
						<label for="website">{{#__}}Website{{/__}} ({{#__}}optional{{/__}})</label>
						<input type="text" name="website" class="form-control" id="website" value="{{website}}" placeholder="{{#__}}Your website{{/__}}">
					</div>
				</fieldset>
				{{/form}}
				<input type="hidden" name="submit" value="1">
				<button type="submit" class="btn btn-primary">{{#__}}Sign up!{{/__}}</button>
			</form>
		</div>
	</div>
	{{/invited}}
</div>
{{>footer}}