{{>header}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
			<br />
			{{#err}}
                <div class="alert alert-danger">
					{{err}}
                </div>
			{{/err}}
			{{#user}}
                <div class="alert alert-success">
                    Thank you. Your email adress is now validated.
                </div>
			{{/user}}
        </div>
    </div>
</div>
{{>footer}}