#!/usr/bin/env node
module.exports = {

	/* be verbose about stuff */
	debug: false,

	/* mongodb config */
	db: "lobbycloud",
	
	/* elasticsearch config */
	elasticsearch: {
		index: "lobbycloud",
		connect: {
			log: "trace",
			host: "localhost:9200"
		}
	},
	
	/* folder where document files are stored */
	storage: "storage",

	/* public base url, no trailing slash */
	url: "http://beta.lobbycloud.eu",

	/* locales for i18n */
	locales: ["en","de"],
	
	/* upload configuration */
	upload: {
		tmp: "tmp", // tmp upload folder
		mimetypes: ["application/pdf"], // allowed mimetypes
		fileext: ["pdf"], // allowed file extensions
		filesize: 26214400 // maximum filesize in bytes
	},
	
	/* express webserver config */
	listen: {
		
		/* connect via socket */
		socket: "/wherever/whatever.sock",

		/* or tcp (remove the socket propery then) */
		host: "127.0.0.1",
		port: 3000
	},

	/* passport config */
	passport: {
		secret: 'keyboard cat is so super happy'
	},
	
	/* sqlite with beta signups */
	signupdb: "data/signup.sqlite",
	
	/* json with invite keys */
	invitedb: "data/invites.json",

	/* validation & passwort reset e-mails tasks */
	mails: {
		dbfile: "data/mails.json",
		from: "LobbyCloud <lobbycloud@gmail.com>",
		waitperiod: 5 * 60 * 1000,
		expiredperiod: 6 * 60 * 60 * 60 * 1000,
		maxqueueworker: 3,
//		transport: {name: "sendmail"},
		transport: {
			name: "SMTP",
			service: "Gmail",
			auth: {
				user: "lobbycloud@gmail.com",
				pass: ""
			}
		}
	}

};