<h1 ng-show="!isQueue" translate>Edit Document</h1>
<h1 ng-show="isQueue" translate>Edit Upload</h1>
<div class="row" ng-show="loading">
	<div class="col-md-9">
		<div>
			<i class="fa fa-spinner fa-spin"></i> <span translate>Loading...</span>
		</div>
	</div>
</div>
<div ng-show="!loading">
	<div class="row">
		<div class="col-md-6">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" data-target="#viewer-img" href translate>PDF Viewer</a></li>
				<li><a data-toggle="tab" data-target="#viewer-text" href translate>Extracted Text</a></li>
			</ul>
			<div class="tab-content">
				<div id="viewer-img" class="tab-pane active">
					<carousel>
						<slide ng-repeat="slide in doc.images" active="slide.active">
							<img ng-src="{{slide.file}}">

							<div class="carousel-caption">
								<strong style="color: #000"><span translate>Page</span> {{$index+1}}</strong>
							</div>
						</slide>
					</carousel>
				</div>
				<div id="viewer-text" class="tab-pane">
					<div class="text" ng-bind-html="doc.text|linesToHTML"></div>
				</div>
			</div>

		</div>
		<div class="col-md-6">
			<form role="form" name="form">
				<div class="form-group">
					<label translate>Topic</label>

					<div class="input-group">
						<div class="has-feedback">
							<input type="text" class="form-control" options="typeaheadOptions" datasets="datasetTopic" ng-model="edit.topic.label" ng-dblclick="selectTopicDialog()" ngtypeahead>
							<span ng-show="(!edit.topic.id) && (edit.topic.label)" title="{{'Create Topic Entry'|translate}}" class="glyphicon glyphicon-new-window form-control-feedback clickable" ng-click="createTopicDialog()"></span>
							<span ng-show="edit.topic.id" class="glyphicon glyphicon-plus-sign form-control-feedback clickable" ng-click="selectTopic()"></span>
						</div>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" title="{{'Select Topic'|translate}}" ng-click="selectTopicDialog()"><span class="caret"></span></button>
						</span>
					</div>
					<div class="list-sel-ctn">
						<div ng-repeat="o in doc.topics" class="list-sel-item">
							<span>{{o.label}}</span>
							<i ng-if="o.id" class="glyphicon glyphicon-ok text-success" title="{{'Topic is valid'|translate}}"></i>
							<i ng-if="!o.id" class="glyphicon glyphicon-new-window clickable" title="{{'Create Topic Entry'|translate}}" ng-click="createTopicDialog(o)"></i>
							<i class="glyphicon glyphicon-remove clickable"  title="{{'Remove'|translate}}" ng-click="removeTopic(o)"></i></div>
					</div>
				</div>
				<div class="form-group">
					<label translate>Organisation</label>

					<div class="input-group">
						<div class="has-feedback">
							<input type="text" class="form-control" options="typeaheadOptionsOrgs" datasets="datasetOrganisation" ng-model="edit.organisation.label" ng-dblclick="selectOrganisationDialog()" ngtypeahead>
							<span ng-show="(!edit.organisation.id) && (edit.organisation.label)" title="{{'Create Organisation Entry'|translate}}" class="glyphicon glyphicon-new-window form-control-feedback clickable" ng-click="createOrganisationDialog()"></span>
							<span ng-show="edit.organisation.id" class="glyphicon glyphicon-plus-sign form-control-feedback clickable" ng-click="selectOrganisation()"></span>
						</div>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" title="{{'Select Organisation'|translate}}" ng-click="selectOrganisationDialog()"><span class="caret"></span></button>
						</span>
					</div>
					<div class="list-sel-ctn">
						<div ng-repeat="o in doc.organisations" class="list-sel-item">
							<span>{{o.label}}</span>
							<i ng-if="o.id" class="glyphicon glyphicon-ok text-success" title="{{'Organisation is valid'|translate}}"></i>
							<i ng-if="!o.id" class="glyphicon glyphicon-new-window clickable" title="{{'Create Organisation Entry'|translate}}" ng-click="createOrganisationDialog(o)"></i>
							<i class="glyphicon glyphicon-remove clickable" title="{{'Remove'|translate}}" ng-click="removeOrganisation(o)"></i>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label translate>Tags</label>

					<div class="has-feedback">
						<input type="text" class="form-control" placeholder="{{'Tags'|translate}}" ng-model="edit.tag" key-bind="{ enter: 'selectTag()'}">
						<span ng-show="canSelectTag()" class="glyphicon glyphicon-plus-sign form-control-feedback clickable" ng-click="selectTag()"></span>
					</div>
					<div class="list-sel-ctn">
						<div ng-repeat="o in doc.tags" class="list-sel-item"><span>{{o}}</span><i class="glyphicon glyphicon-remove" ng-click="removeTag(o)"></i></div>
					</div>
				</div>
				<div class="form-group">
					<label translate>Language</label>

					<div class="input-group">
						<div class="has-feedback">
							<input type="text" class="form-control" options="typeaheadOptionsLang" datasets="datasetLangs" ng-model="lang" ng-dblclick="selectLanguageDialog()" ngtypeahead>
							<span ng-show="doc.lang.id" class="glyphicon glyphicon-ok text-success form-control-feedback"></span>
						</div>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" title="{{'Select Language'|translate}}" ng-click="selectLanguageDialog()"><span class="caret"></span></button>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label translate>Comment</label>
					<textarea class="form-control" rows="3" placeholder="{{'Comment'|translate}}" ng-model="doc.comment"></textarea>
				</div>
			</form>
			<div class="alert alert-danger" ng-show="errormessage">
				<button type="button" class="close" ng-click="errormessage=null">×</button>
				{{errormessage}}
			</div>
			<div>
				<div ng-show="isQueue" class="pull-right">
					<button class="btn btn-primary" ng-class="{disabled:!canPublish()}" ng-click="accept()" translate>Publish</button>
					<button class="btn btn-success" ng-click="update()" translate>Update</button>
					<button class="btn btn-warning"ng-click="decline()"  translate>Decline</button>
					<button class="btn btn-default" ui-sref="queue" translate>Close</button>
				</div>
				<div ng-show="!isQueue" class="pull-right">
					<button class="btn btn-success" ng-click="update()" translate>Update</button>
					<button class="btn btn-default" ui-sref="docs" translate>Close</button>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="doc-info">
				<ul class="list-unstyled">
					<li class="text-info" translate>File Informations</li>
					<li><span translate>Filename</span> {{doc.orig}}</li>
					<li><span translate>Uploaded</span> {{doc.created | amDateFormat:'LLL'}}</li>
					<li><span translate>Title</span> {{doc.info.title}}</li>
					<li><span translate>Subject</span> {{doc.info.subject}}</li>
					<li><span translate>Author</span> {{doc.info.author}}</li>
					<li><span translate>Keywords</span> {{doc.info.keywords}}</li>
					<li><span translate>Pages</span> {{doc.info.pages}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
