<h1 translate>Manage Documents</h1>

<div class="row" ng-show="loading">
    <div class="col-md-9">
        <div>
            <i class="fa fa-spinner fa-spin"></i> <span translate>Loading...</span>
        </div>
    </div>
</div>

<div ng-show="!loading">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <form class="form" role="form">
                    <div class="form-group col-md-6">
                        <label translate>Filter Title</label>
                        <input class="form-group" type="text" ng-model="filter.title" placeholder="{{'Filter Title' | translate}}">
                    </div>
                    <div class="form-group col-md-6">
                        <label><input type="checkbox" ng-model="filter.range_enabled"> <span translate>Filter Date</span></label>
                        <input class="input-daterange form-group" type="daterange" format="L" ng-model="filter.range">
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-left">
                        <!--<button type="button" class="btn btn-default" translate>Upload</button>-->
                        <div class="list-title pull-left" translate translate-n="docs.length" translate-plural="{{docs.length}} documents">One document</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-responsive table-docs ng-table-rowselected" ng-table="tableParams" show-filter="true">
                        <thead>
                        <tr>
                            <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('orig', 'asc'),
                    'sort-desc': tableParams.isSortBy('orig', 'desc')}"
                                ng-click="tableParams.sorting({'orig' : tableParams.isSortBy('orig', 'asc') ? 'desc' : 'asc'})">
                                <div translate>Title</div>
                            </th>
                            <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('uploaded', 'asc'),
                    'sort-desc': tableParams.isSortBy('uploaded', 'desc')}"
                                ng-click="tableParams.sorting({'uploaded' : tableParams.isSortBy('uploaded', 'asc') ? 'desc' : 'asc'})">
                                <div translate>Uploaded</div>
                            </th>
                            <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('tags', 'asc'),
                    'sort-desc': tableParams.isSortBy('tags', 'desc')}"
                                ng-click="tableParams.sorting({'tags' : tableParams.isSortBy('tags', 'asc') ? 'desc' : 'asc'})">
                                <div translate>Tags</div>
                            </th>
                            <th translate>Actions</th>
                        </tr>
                        </thead>

                        <tr ng-repeat="doc in $data" ng-class="{'selected': doc.$selected}" ng-click="selectRow(doc)">
                            <td filter="{ 'orig': 'text' }" sortable="'orig'">{{doc.orig}}</td>
                            <td sortable="'uploaded'">{{doc.uploaded | amDateFormat:'LLL'}}</td>
                            <td sortable="'tags'">{{doc.tags.join(',')}}</td>
                            <td>
                                <div ng-show="doc.$processing">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </div>
                                <div ng-show="!doc.$processing">
                                    <!--<i class="btn btn-default fa fa-edit" title="{{'Edit Document'|translate}}" ng-click="showEditDialog()"/>-->
                                    <!--<i class="btn btn-default fa fa-trash-o" title="{{'Delete Document'|translate}}" ng-click="deleteDialog(user.id)"/>-->
                                </div>
                            </td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="doc-view">
                {{doc.title}}<br/>
                {{doc.uploaded | amDateFormat:'LLL'}}<br/>
                {{doc.tags.join(',')}}
            </div>
        </div>
    </div>
</div>
