<div class="container">


    <!--<div class="well">-->
        <!--<h1>DEBUG</h1>-->
        <!--<button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>-->
        <!--<p><strong>Sorting:</strong> {{tableParams.sorting()|json}}</p>-->

        <!--<p><strong>Filter:</strong> {{search}}</p>-->

        <!--<p><strong>Page:</strong> {{tableParams.page()}}</p>-->

        <!--<p><strong>Count per page:</strong> {{tableParams.count()}}</p>-->
    <!--</div>-->

    <div class="row" ng-show="loading">
        <div class="col-md-9">
            <div>
                <i class="fa fa-spinner fa-spin"></i> <span translate>Loading...</span>
            </div>
        </div>
    </div>

    <div class="row" ng-show="!loading">
        <div class="col-md-9">
            <div class="well">
                <form class="form-inline pull-right" role="form">
                    <div class="form-group">
                        <label translate>Filter Title</label>
                        <input type="text" ng-model="search.title" placeholder="{{'Filter Title' | translate}}">
                    </div>
                    <div class="form-group">
                        <label><input type="checkbox" ng-model="search.range_enabled"> <span translate>Filter Date</span></label>
                        <input class="input-daterange" type="daterange" format="L" ng-model="search.range">
                    </div>
                </form>

                <h3 translate translate-n="count" translate-plural="{{docs.length}} documents">One document</h3>
            </div>

            <table class="table table-responsive table-docs ng-table-rowselected" ng-table="tableParams" show-filter="true">
                <thead>
                <tr>
                    <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('title', 'asc'),
                    'sort-desc': tableParams.isSortBy('title', 'desc')}"
                        ng-click="tableParams.sorting({'title' : tableParams.isSortBy('title', 'asc') ? 'desc' : 'asc'})">
                        <div translate>Title</div>
                    </th>
                    <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('uploaded', 'asc'),
                    'sort-desc': tableParams.isSortBy('uploaded', 'desc')}"
                        ng-click="tableParams.sorting({'uploaded' : tableParams.isSortBy('uploaded', 'asc') ? 'desc' : 'asc'})">
                        <div translate>Uploaded</div>
                    </th>
                    <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('tags', 'asc'),
                    'sort-desc': tableParams.isSortBy('tags', 'desc')}"
                        ng-click="tableParams.sorting({'tags' : tableParams.isSortBy('tags', 'asc') ? 'desc' : 'asc'})">
                        <div translate>Tags</div>
                    </th>
                    <th translate>Actions</th>
                </tr>
                </thead>

                <tr ng-repeat="doc in $data" ng-class="{'selected': doc.$selected}" ng-click="selectRow(doc)">
                    <td filter="{ 'title': 'text' }" sortable="'title'">{{doc.title}}</td>
                    <td sortable="'uploaded'">{{doc.uploaded | amDateFormat:'LLL'}}</td>
                    <td sortable="'tags'">{{doc.tags.join(',')}}</td>
                    <td>
                        <div ng-show="doc.processing">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                        <div ng-show="!doc.processing">
                            <a href="javascript:;" title="{{'Edit Document'|translate}}" ng-click="showEditDialog()"><i class="glyphicon glyphicon-edit"/></a>
                            <a href="javascript:;" title="{{'Delete Document'|translate}}" ng-click="deleteDialog(user.id)"><i class="glyphicon glyphicon-trash"/></a>
                        </div>
                    </td>
                </tr>

            </table>

        </div>
        <div class="col-md-3">
            <div class="doc-view">
                {{doc.title}}<br/>
                {{doc.uploaded | amDateFormat:'LLL'}}<br/>
                {{doc.tags.join(',')}}
            </div>
        </div>
    </div>
</div>

