<h1 translate>Manage Queue</h1>

<div class="row" ng-show="loading">
    <div class="col-md-9">
        <div>
            <i class="fa fa-spinner fa-spin"></i> <span translate>Loading...</span>
        </div>
    </div>
</div>

<div ng-show="!loading">
    <div class="row hidden">
        <form class="form" role="form">
            <div class="form-group col-md-6">
                <label translate>Filter Filename</label>
                <input class="form-group" type="text" ng-model="filter.title" placeholder="{{'Filter Title' | translate}}">
            </div>
            <div class="form-group col-md-6">
                <label><input type="checkbox" ng-model="filter.range_enabled"> <span translate>Filter Date</span></label>
                <input class="input-daterange form-group" type="daterange" format="L" ng-model="filter.range">
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-left">
                <div class="list-title pull-left" translate translate-n="docs.length" translate-plural="{{docs.length}} documents">One document</div>
            </div>
        </div>
    </div>


    <style type="text/css">


    </style>


    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-docs ng-table-rowselected" ng-table="tableParams" show-filter="true">
                <thead>
                <tr>
                    <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('orig', 'asc'),
                    'sort-desc': tableParams.isSortBy('orig', 'desc')}"
                        ng-click="tableParams.sorting({'orig' : tableParams.isSortBy('orig', 'asc') ? 'desc' : 'asc'})">
                        <div translate>Filename</div>
                    </th>

                    <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('uploaded', 'asc'),
                    'sort-desc': tableParams.isSortBy('uploaded', 'desc')}"
                        ng-click="tableParams.sorting({'uploaded' : tableParams.isSortBy('uploaded', 'asc') ? 'desc' : 'asc'})">
                        <div translate>Uploaded</div>
                    </th>
                    <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('topic', 'asc'),
                    'sort-desc': tableParams.isSortBy('topic', 'desc')}"
                        ng-click="tableParams.sorting({'topic' : tableParams.isSortBy('topic', 'asc') ? 'desc' : 'asc'})">
                        <div translate>Topic</div>
                    </th>

                    <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('organisation', 'asc'),
                    'sort-desc': tableParams.isSortBy('organisation', 'desc')}"
                        ng-click="tableParams.sorting({'organisation' : tableParams.isSortBy('organisation', 'asc') ? 'desc' : 'asc'})">
                        <div translate>Organisation</div>
                    </th>
                    <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('pages', 'asc'),
                    'sort-desc': tableParams.isSortBy('pages', 'desc')}"
                        ng-click="tableParams.sorting({'pages' : tableParams.isSortBy('pages', 'asc') ? 'desc' : 'asc'})">
                        <div translate>Pages</div>
                    </th>
                    <!--<th class="sortable" ng-class="{-->
                    <!--'sort-asc': tableParams.isSortBy('tags', 'asc'),-->
                    <!--'sort-desc': tableParams.isSortBy('tags', 'desc')}"-->
                    <!--ng-click="tableParams.sorting({'tags' : tableParams.isSortBy('tags', 'asc') ? 'desc' : 'asc'})">-->
                    <!--<div translate>Tags</div>-->
                    <!--</th>-->
                    <th translate>Actions</th>
                </tr>
                </thead>
                <tbody ng-repeat="doc in $data" class="queue-item">
                <tr ng-class="{'selected': doc.$selected}">
                    <td ng-click="selectRow(doc)" filter="{ 'orig': 'text' }" sortable="'orig'">
                        <img class="thumb" ng-src="{{doc.thumbs[0].file}}"/>
                        {{doc.orig}}</td>
                    <td sortable="'uploaded'">{{doc.created | amDateFormat:'LLL'}}</td>
                    <td sortable="'topic'">{{doc.topic.label}}</td>
                    <td sortable="'organisation'">{{doc.organisation.label}}</td>
                    <td sortable="'pages'">{{doc.info.pages}}</td>
                    <td class="queue-actions">
                        <div ng-show="doc.$processing">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                        <div ng-show="!doc.$processing">
                            <a href="" class="btn btn-default btn-sm" title="{{'Edit Document'|translate}}" ui-sref="queueitem(doc)"><i class="fa fa-edit" /></a>
                            <a href="" class="btn btn-default btn-sm" title="{{'Delete Document'|translate}}" ng-click="deleteDialog(doc)" eat-click><i class="fa fa-trash-o" /></a>
                        </div>
                    </td>
                </tr>
                <tr ng-if="doc.$selected">
                    <td colspan="6">
                        <carousel class="thumbnails pull-left">
                            <slide ng-repeat="slide in doc.thumbs" active="slide.active">
                                <img ng-src="{{slide.file}}">

                                <div class="carousel-caption">
                                    <strong style="color: #000">Page {{$index+1}}</strong>
                                </div>
                            </slide>
                        </carousel>

                        <div class="queue-info pull-left">
                            <ul class="list-unstyled">
                                <li class="text-info">Meta Informations</li>
                                <li><span>Topic:</span> {{doc.topic.label}}</li>
                                <li><span>Organisation:</span> {{doc.organisation.label}}</li>
                                <li><span>Tags:</span> {{doc.tags.join(',')}}</li>
                                <li><span>Language:</span> {{doc.lang}}</li>
                            </ul>
                            <ul class="list-unstyled">
                                <li class="text-info">File Informations</li>
                                <li><span>Filename:</span> {{doc.orig}}</li>
                                <li><span>Uploaded:</span> {{doc.created | amDateFormat:'LLL'}}</li>
                                <li><span>Title:</span> {{doc.info.title}}</li>
                                <li><span>Subject:</span> {{doc.info.subject}}</li>
                                <li><span>Author:</span> {{doc.info.author}}</li>
                                <li><span>Keywords:</span> {{doc.info.keywords}}</li>
                                <li><span>Pages:</span> {{doc.info.pages}}</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="deleteQueueItemDialog.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" translate>Delete Queue Item?</h4>
    </div>
    <div class="modal-body">
        <p translate>Sure to delete queue item {{data.orig}}?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" translate>OK</button>
        <button class="btn btn-warning" ng-click="cancel()" translate>Cancel</button>
    </div>
</script>
