<h1 translate>Edit Upload</h1>

<div class="row" ng-show="loading">
    <div class="col-md-9">
        <div>
            <i class="fa fa-spinner fa-spin"></i> <span translate>Loading...</span>
        </div>
    </div>
</div>

<div ng-show="!loading">

    <div class="row">
        <div class="col-md-12">
            <div class="queue-header">
                <label>Uploaded</label>
                <span>{{item.created | amDateFormat:'LLL'}}</span>
                <label>Uploaded by</label>
                <span>{{item.user}}</span>
                <label>Filename</label>
                <span>{{item.orig}}</span>
            </div>

            <form role="form" name="form">

                <div class="row">
                    <div class="form-group col-sm-5">
                        <label translate>Topic</label>
                        <input type="text" class="form-control" options="typeaheadOptions" datasets="datasetTopic" ng-model="item.topic.label" ngtypeahead>
                    </div>
                    <div class="form-group col-sm-5">
                        <label translate>Organisation</label>
                        <input type="text" class="form-control" options="typeaheadOptions" datasets="datasetOrganisation" ng-model="item.organisation.label" ngtypeahead>
                    </div>
                    <div class="form-group col-sm-2">
                        <label translate>Language</label>
                        <input type="text" class="form-control" options="typeaheadOptions2" datasets="datasetLangs" ng-model="lang" ngtypeahead>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-12">
                        <label translate>Comment</label>
                        <textarea class="form-control" rows="3" placeholder="{{'Comment'|translate}}" ng-model="item.comment"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-12">
                        <label translate>Tags, separated by comma</label>
                        <input type="text" class="form-control" data-role="tagsinput" placeholder="{{'Tags'|translate}}" ng-model="item.tags">
                    </div>
                </div>

            </form>

            <div class="alert alert-danger" ng-show="errormessage">
                <button type="button" class="close" ng-click="errormessage=null">×</button>
                {{errormessage}}
            </div>

            <div class="pull-right">
                <button class="btn btn-primary" ng-click="ok()" translate>OK</button>
                <button class="btn btn-warning" ui-sref="queue" translate>Cancel</button>
            </div>
        </div>
    </div>
</div>
