<h1 translate>Edit Upload</h1>

<div class="row" ng-show="loading">
    <div class="col-md-9">
        <div>
            <i class="fa fa-spinner fa-spin"></i> <span translate>Loading...</span>
        </div>
    </div>
</div>

<div ng-show="!loading">

    <div class="row">
        <div class="col-md-6">
            <carousel>
                <slide ng-repeat="slide in doc.images" active="slide.active">
                    <img ng-src="{{slide.file}}">

                    <div class="carousel-caption">
                        <strong style="color: #000"><span translate>Page</span> {{$index+1}}</strong>
                    </div>
                </slide>
            </carousel>
        </div>
        <div class="col-md-6">
            <form role="form" name="form">
                <div class="form-group">
                    <label translate>Topic</label>

                    <div class="input-group">

                        <div class="has-feedback">
                            <input type="text" class="form-control" options="typeaheadOptions" datasets="datasetTopic" ng-model="doc.topic.label" ng-dblclick="selectTopicDialog()" ngtypeahead>
                            <span ng-show="(!doc.topic.id) && (doc.topic.label)" title="{{'Add Topic'|translate}}" class="glyphicon glyphicon-plus-sign form-control-feedback clickable" ng-click="addTopicDialog()"></span>
                            <span ng-show="doc.topic.id" class="glyphicon glyphicon-ok text-success form-control-feedback"></span>
                        </div>

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" title="{{'Select Topic'|translate}}" ng-click="selectTopicDialog()"><span class="caret"></span></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label translate>Organisation</label>

                    <div class="input-group">

                        <div class="has-feedback">
                            <input type="text" class="form-control" options="typeaheadOptions" datasets="datasetOrganisation" ng-model="doc.organisation.label" ng-dblclick="selectOrganisationDialog()" ngtypeahead>
                            <span ng-show="(!doc.organisation.id) && (doc.organisation.label)" title="{{'Add Organisation'|translate}}" class="glyphicon glyphicon-plus-sign form-control-feedback clickable" ng-click="addOrganisationDialog()"></span>
                            <span ng-show="doc.organisation.id" class="glyphicon glyphicon-ok text-success form-control-feedback"></span>
                        </div>

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" title="{{'Select Organisation'|translate}}" ng-click="selectOrganisationDialog()"><span class="caret"></span></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label translate>Language</label>

                    <div class="input-group">

                        <div class="has-feedback">
                            <input type="text" class="form-control" options="typeaheadOptions2" datasets="datasetLangs" ng-model="lang" ng-dblclick="selectLanguageDialog()" ngtypeahead>
                            <span ng-show="doc.lang.id" class="glyphicon glyphicon-ok text-success form-control-feedback"></span>
                        </div>

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" title="{{'Select Language'|translate}}" ng-click="selectLanguageDialog()"><span class="caret"></span></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label translate>Tags, separated by comma</label>
                    <input type="text" class="form-control" data-role="tagsinput" placeholder="{{'Tags'|translate}}" ng-model="doc.tags">
                </div>
                <div class="form-group">
                    <label translate>Comment</label>
                    <textarea class="form-control" rows="3" placeholder="{{'Comment'|translate}}" ng-model="doc.comment"></textarea>
                </div>
            </form>

            <div class="alert alert-danger" ng-show="errormessage">
                <button type="button" class="close" ng-click="errormessage=null">×</button>
                {{errormessage}}
            </div>

            <div>
                <div class="pull-right">
                    <button class="btn btn-primary" ng-class="{disabled:!canPublish()}" ng-click="accept()" translate>Publish</button>
                    <button class="btn btn-success" ng-click="update()" translate>Update</button>
                    <button class="btn btn-warning" ui-sref="queue" translate>Cancel</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="doc-info">
                <ul class="list-unstyled">
                    <li class="text-info" translate>File Informations</li>
                    <li><span translate>Filename</span> {{doc.orig}}</li>
                    <li><span translate>Uploaded</span> {{doc.created | amDateFormat:'LLL'}}</li>
                    <li><span translate>Title</span> {{doc.info.title}}</li>
                    <li><span translate>Subject</span> {{doc.info.subject}}</li>
                    <li><span translate>Author</span> {{doc.info.author}}</li>
                    <li><span translate>Keywords</span> {{doc.info.keywords}}</li>
                    <li><span translate>Pages</span> {{doc.info.pages}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
