<h1 translate>Manage Queue</h1>

<div class="row" ng-show="loading">
    <div class="col-md-9">
        <div>
            <i class="fa fa-spinner fa-spin"></i> <span translate>Loading...</span>
        </div>
    </div>
</div>

<div ng-show="!loading">
    <div class="row hidden">
        <form class="form" role="form">
            <div class="form-group col-md-6">
                <label translate>Filter Filename</label>
                <input class="form-group" type="text" ng-model="filter.title" placeholder="{{'Filter Title' | translate}}">
            </div>
            <div class="form-group col-md-6">
                <label><input type="checkbox" ng-model="filter.range_enabled"> <span translate>Filter Date</span></label>
                <input class="input-daterange form-group" type="daterange" format="L" ng-model="filter.range">
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-left">
                <!--<button type="button" class="btn btn-default" translate>Upload</button>-->
                <div class="list-title pull-left" translate translate-n="docs.length" translate-plural="{{docs.length}} documents">One document</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-docs ng-table-rowselected" ng-table="tableParams" show-filter="true">
                <thead>
                <tr>
                    <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('title', 'asc'),
                    'sort-desc': tableParams.isSortBy('title', 'desc')}"
                        ng-click="tableParams.sorting({'title' : tableParams.isSortBy('title', 'asc') ? 'desc' : 'asc'})">
                        <div translate>Filename</div>
                    </th>
                    <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('uploaded', 'asc'),
                    'sort-desc': tableParams.isSortBy('uploaded', 'desc')}"
                        ng-click="tableParams.sorting({'uploaded' : tableParams.isSortBy('uploaded', 'asc') ? 'desc' : 'asc'})">
                        <div translate>Uploaded</div>
                    </th>
                    <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('stage', 'asc'),
                    'sort-desc': tableParams.isSortBy('stage', 'desc')}"
                        ng-click="tableParams.sorting({'stage' : tableParams.isSortBy('stage', 'asc') ? 'desc' : 'asc'})">
                        <div translate>Stage</div>
                    </th>
                    <!--<th class="sortable" ng-class="{-->
                    <!--'sort-asc': tableParams.isSortBy('tags', 'asc'),-->
                    <!--'sort-desc': tableParams.isSortBy('tags', 'desc')}"-->
                    <!--ng-click="tableParams.sorting({'tags' : tableParams.isSortBy('tags', 'asc') ? 'desc' : 'asc'})">-->
                    <!--<div translate>Tags</div>-->
                    <!--</th>-->
                    <th translate>Actions</th>
                </tr>
                </thead>

                <tr ng-repeat="doc in $data" ng-class="{'selected': doc.$selected}" ng-click="selectRow(doc)">
                    <td filter="{ 'title': 'text' }" sortable="'title'">{{doc.orig}}</td>
                    <td sortable="'uploaded'">{{doc.created | amDateFormat:'LLL'}}</td>
                    <td sortable="'stage'">{{doc.stage}}</td>
                    <!--<td sortable="'tags'">{{doc.tags.join(',')}}</td>-->
                    <td>
                        <div ng-show="doc.$processing">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                        <div ng-show="!doc.$processing">
                            <i class="btn btn-default fa fa-edit" title="{{'Edit Document'|translate}}" ui-sref="queueitem(doc)"/>
                            <!--<i class="btn btn-default fa fa-trash-o" title="{{'Delete Document'|translate}}" ng-click="deleteDialog(user.id)"/>-->
                        </div>
                    </td>
                </tr>

            </table>

        </div>
    </div>
</div>
