<div class="container">
    <br/>

    <div class="jumbotron">
        <h1>LobbyCloudCentral</h1>

        <p class="lead" translate>Library of influence on public policy</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2 translate>Hello {{user.username}}!</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h3 translate>Documents</h3>
                <a class="btn btn-default" href="#/docs" translate>Edit Documents</a>
            </div>
        </div>

        <div ng-show="user.isAdmin" class="col-md-6">
            <div class="well">
                <h3 translate>Administration</h3>
                <a class="btn btn-default" href="#/admin/users" translate>Manage Users</a>
                <a class="btn btn-default" href="#/admin/groups" translate>Manage Groups</a>
            </div>
        </div>
    </div>
</div>