<div id="headline">
    <h1>LobbyCloudCentral</h1>

    <h2 translate>Hello {{account.name||account.id}}!</h2>
</div>


<div class="row well">
    <div class="col-md-6">
        <h3 translate>Documents</h3>
        <a class="btn btn-default" href="#/docs" translate>Edit Documents</a>
        <a class="btn btn-default" href="#/upload" translate>Upload Documents</a>
    </div>

    <div ng-show="account.isAdmin" class="col-md-6">
        <h3 translate>Administration</h3>
        <a class="btn btn-default" href="#/users" translate>Manage Users</a>
        <!--<a class="btn btn-default" href="#/admin/groups" translate>Manage Groups</a>-->
    </div>
</div>
