<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title" ng-show="user.create" translate>Create User</h4>

    <h4 class="modal-title" ng-show="!user.create" translate>Edit User</h4>
</div>
<form role="form" name="userform">

<div class="modal-body">

        <div class="row">
            <div class="form-group col-sm-4">
                <label translate>Login Name</label>
                <input type="text" class="form-control" placeholder="{{'Enter login name'|translate}}" ng-model="user.id" required>
            </div>
            <div class="form-group col-sm-6">
                <label translate>Password</label>
                <input ng-if="!user.create" type="text" class="form-control" placeholder="{{'Enter password (leave empty for no changes)'|translate}}" ng-model="user.password">
                <input ng-if="user.create" type="text" class="form-control" placeholder="{{'Enter password'|translate}}" ng-model="user.password" required>
            </div>
            <div class="form-group col-sm-2">
                <label translate>Role</label>
                <select ng-model="user.role" class="form-control" ng-options="c for c in userRoles" required></select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label translate>Full Name</label>
                <input type="text" class="form-control" placeholder="{{'Name'|translate}}" ng-model="user.name">
            </div>
            <div class="form-group col-sm-6">
                <label translate>Organisation</label>
                <input type="text" class="form-control" placeholder="{{'Organisation'|translate}}" ng-model="user.organisation">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label translate>Email</label>
                <input type="email" class="form-control" placeholder="{{'Email adress'|translate}}" ng-model="user.email" required>
            </div>
            <div class="form-group col-sm-6">
                <label translate>Website</label>
                <input type="url" class="form-control" placeholder="{{'Website URL'|translate}}" ng-model="user.url">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label translate>Location</label>
                <input type="url" class="form-control" placeholder="{{'Location'|translate}}" ng-model="user.url">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12">
                <label translate>description</label>
                <textarea class="form-control" rows="3" placeholder="{{'Enter description'|translate}}" ng-model="user.description"></textarea>
            </div>
        </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(userform)" translate>OK</button>
    <button class="btn btn-warning" ng-click="cancel()" translate>Cancel</button>
</div>
</form>
