body {
	
	display: block;
	position: relative;
	height: 100%;
	line-height: 1.6em;
	margin: 0px;
	padding: 0px;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	background: #e9e9e9 url(../img/background-paper.png) center center repeat;
	
	
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Slab";
}

header {
	
	display: block;
	position: relative;
	margin: 0px;
	padding: 0px;
	height: 51px;
	
}

	header #navbar {}
	
		header #navbar a {
			
			color: #fff;
			
		}

        header #navbar .dropdown-menu a {
            color: #000;
        }

		header #navbar nav a:focus,
		header #navbar nav a:hover,
		header #navbar nav a:active {
			
			color: #fff;
			background-color: #333;
			
		}
		
		header #navbar .navbar-brand {
			font-size: 1.8em;
			color: #fff;
			font-family: "Roboto Slab";
			font-weight: 300;
			padding-left: 50px;
			background: url(../img/lobbycloud-icon.png) 10px center no-repeat;
			background-size: auto 70%;
		}

			header #navbar .navbar-brand i {
				color: #fff;
			}

			header #navbar .navbar-brand strong {
				color: #bd0;
				font-weight: 500;
			}
		
		header #navbar .navbar-nav.navbar-main a {
			
			font-family: "Roboto Slab";
			font-size: 1.1em;
			padding: 15px 9px;
			
		}

			header #navbar .navbar-nav.navbar-main .dropdown-menu a {
			
				padding: 5px 9px;
			
			}
		
		header #navbar .navbar-toggle span {
			
			background-color: #fff;
			
		}
		
		header #navbar .navbar-user {
			
			font-size: .95em;
			
		}

			header #navbar .navbar-user a {
		
				padding-right: 10px;
				padding-left: 10px;
				color: #999;

			}
			
				header #navbar .navbar-user a i {
				
					font-size: 1.2em;
					margin-right: 5px;
					color: #eee;
				
				}
		
			header #navbar .navbar-user li a.profile {
			
				padding: 5px 10px;
				margin: 9px 5px;
				line-height: 20px;
				display: block;
				position: relative;
				color: #fff;
				border-radius: 5px;
				border: 1px solid #666;
			
			}
		
				header #navbar .navbar-user li a.profile:hover {
				
					background: none;
				
				}
		
				header #navbar .navbar-user li a.profile .fa {
				
					color: #bd0;
				
				}
		
	
#main {
	
	padding-bottom: 20px;
	background-color: rgba(255,255,255,0.75);
	
}
	
	#intro {
		
		margin: 0px -15px;
		box-shadow: 0px 15px 20px -20px rgba(0,0,0,0.2);
		
	}
	
		#intro .jumbotron {
			
			background: rgba(255,255,255,0.1) url(../img/intro-pattern.png) center center repeat;
			padding-top: 20px;
			border-radius: 0px;
			
		}

		#intro .jumbotron .intro-text  {
		
			padding-top: 50px;
			
		}
	
		#intro .jumbotron h1 {
			
			color: #fff;
			
		}

		#intro .intro-box {
			
			background-color: #fff;
			margin-top: -30px;
			margin-bottom: -20px;
			padding: 35px 40px 20px;
			box-shadow: 0px -15px 20px -20px rgba(0,0,0,0.2);
			
		}
		
			#intro .intro-box .image {
				
				background-color: #9add24;
				padding: 5px 15px;
				border-radius: 10px;
				box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;
				
			}
		
		
		
	#main .password-progress {
		
		height: 14px;
		margin: 0px 0px 3px;
		padding: 0px;
		height: 5px;
		
	}

	#main fieldset {

		border: 1px solid #f9f9f9;
		border-radius: 3px;
		padding: 10px;
		margin-bottom: 20px;

	}
	
		/* thumb well */
		
		#main .thumb-well {

			display: block;
			position: relative;
			height: 155px;
			overflow: hidden;
			overflow-x: auto;
			overflow-y: hidden;
			padding: 10px;
			white-space: nowrap;
			background-color: #fcfcfc;
			box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.5) inset; 
			border: 1px solid #ccc;
			border-radius: 3px;
			margin: 0px 0px 10px;
			
		}

			#main .thumb-well img {
				
				display: inline-block;
				height: 120px;
				background-color: #fff;
				box-shadow: 0px 0px 7px -5px rgba(0,0,0,0.5);
				margin-right: 10px;
				
			}
	
		/* upload */

		#main .review-queue {
			
			display: block;
			position: relative;
			padding: 0px 14px;
			margin: 0px -15px;
			
		}

			#main .review-queue .folder {
				
				margin-bottom: 10px;
				border-color: #ccc;
				
			}
			
				#main .review-queue .folder .panel-heading {
					border-color: #ccc;
				}

				#main .review-queue .folder.folder-closed .panel-heading {
					border-width: 0px;
				}

				#main .review-queue .folder.panel-warning .panel-heading {
					background-color: #fc0;
				}

				#main .review-queue .folder.panel-success .panel-heading {
					background-color: #bd0;
				}
			
				#main .review-queue .folder.panel-error .panel-heading {
					background-color: #f63;
				}
			
				#main .review-queue .panel-heading {
					
					position: relative;
					cursor: pointer;
					
				}
					
					#main .review-queue .panel-heading h3 {
				
						margin-right: 25px;
						white-space: nowrap;
				
					}
					
						#main .review-queue .panel-heading h3 .label {
							font-family: "Roboto", "Helvetica", "Arial", sans-serif;
							font-size: .8em;
							position: relative;
							margin-left: 3px;
							background: rgba(255,255,255,0.2);
						}

					#main .review-queue .panel-heading .cancel {
						display: block;
						position: absolute;
						right: 30px;
						top: 0px;
						bottom: 0px;
						width: 30px;
						font-size: 20px;
						font-weight: bold;
						text-align: center;
						padding-left: 2px;
						line-height: 38px;
						color: #333;
						background-color: rgba(255,255,255,0.3);
					}
					
						#main .review-queue .panel-heading .cancel:hover {
							background-color: #f00;
							color: #fff;
						}

					#main .review-queue .panel-heading .folder-toggle {
						display: block;
						position: absolute;
						right: 0px;
						top: 0px;
						bottom: 0px;
						width: 30px;
						font-size: 20px;
						font-weight: bold;
						text-align: center;
						line-height: 38px;
						color: #333;
						background-color: rgba(255,255,255,0.1);
					}

				#main .review-queue .folder-closed {}

					#main .review-queue .folder-closed .panel-body {
						display: none;
					}
		
		#main .upload-form {
			
			display: block;
			position: relative;
			background-color: #fff;
			box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.5);
			padding: 20px;
			margin: 0px -15px;
			
		}
		
			#main .upload-form .upload-area {
				
				margin: 5px 0px;
				
			}

				#main .upload-form .upload-area .upload-area-drop {
					
					display: block;
					position: relative;
					background-color: #eee;
					border: 2px dashed #ccc;
					text-align: center;
					padding: 50px 10px;
					font-size: 1.2em;
					line-height: 32px;
					font-weight: 600;
					color: #888;
					
				}
				
					#main .upload-form .upload-area .upload-area-drop input[type=file] {
					
						display: none;
					
					}
					
					#main .upload-form .upload-area .upload-area-drop span {
						padding-right: 10px;
					}

						#main .upload-form .upload-area .upload-area-drop span:after {

							content: "\f0ec";
							font-family: FontAwesome;
							font-weight: 300;
							padding-left: 10px;

						}
					
				#main .upload-form .upload-area .upload-queue {
					display: block;
					list-style: none;
					margin: 20px 0px 0px;
					padding: 0px;
				}

				#main .upload-form .upload-area .upload-queue li {

					display: block;
					list-style: none;
					background-color: #eee;
					padding: 15px 0px;
					position: relative;
					height: 80px;

				}

				#main .upload-form .upload-area .upload-queue li+li {

					border-top: 1px dashed #555;

				}

				#main .upload-form .upload-area .upload-queue canvas {
					position: absolute;
					left: 15px;
					top: 15px;
				}

				#main .upload-form .upload-area .upload-queue li input {
					display: none;
				}

				#main .upload-form .upload-area .upload-queue p {

					display: block;
					position: absolute;
					left: 80px;
					right: 60px;
					top: 0px;
					bottom: 0px;

					overflow: hidden;
					white-space: nowrap;

					padding: 20px 0px;
					color: #666;
					font-size: 16px;
					font-weight: bold;
				}

				#main .upload-form .upload-area .upload-queue p i {
					display: block;
					font-weight: normal;
					font-style: normal;
					color: #7f7f7f;
				}

				#main .upload-form .upload-area .upload-queue span {

					display: block;
					position: absolute;
					right: 0px;
					top: 0px;
					bottom: 0px;
					width: 50px;
					cursor: pointer;
					color: #fff;
					line-height: 80px;
					text-align: center;
					font-size: 2em;

				}
				
					#main .upload-form .upload-area .upload-queue .working span .fa-check { display: none; }
					#main .upload-form .upload-area .upload-queue .working span .fa-times { color: #f00; }
					#main .upload-form .upload-area .upload-queue .done span .fa-times { display: none; }
					#main .upload-form .upload-area .upload-queue .done span .fa-check { color: #390; }

				#main .upload-form .upload-area .upload-queue li.error p {
					color:red;
				}
	
	#main .content {
		
		padding: 20px;
		
	}

		#main .content .headline {
	
			background: rgba(255,255,255,0.1) url(../img/intro-pattern.png) center center repeat;
			padding: 10px 35px 20px;
			margin: -20px -35px 30px;
			box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
	
		}

			#main .content .headline h1 {

				color: #fff;
				text-shadow: 0px 0px 5px rgba(0,0,0,0.25);
		
			}
			
				#main .content .headline h1 strong {

					color: #fff;
	
				}

				#main .content .headline h1 small {

					display: block;
					color: #f9f9f9;
					font-size: 0.8em;
					margin-top: 5px;
	
				}

			#main .content .headline p {

				color: #333;
				font-size: 1.2em;
		
			}

				#main .content .headline p a {
				
					color: #fff;
					text-decoration: none;
					
				}

			#main .content .headline p.tags {
				
				text-align: right;
				font-size: 1.4em;
				padding: 30px 0px 0px;
				
			}
			
				#main .content .headline p.tags .label {
					margin: 5px;
				}

	#main .content.err {

		background: rgba(255,255,255,0.1) url(../img/intro-pattern.png) center center repeat;
		padding: 50px 20px 50px;
		margin: 0px -15px -20px;

	}

		#main .content.err h1 {

			color: #fff;
			font-size: 5em;

		}

		#main .content.err h2 {

			color: #fff;
			font-size: 3em;

		}

	#main .topics {}

		#main .topics .item {
			
			display: block;
			position: relative;
			padding: 1px 20px 10px;
			border-radius: 5px;
			box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.25);
			background-color: #fff;
			margin-bottom: 20px;
			
		}
		
			#main .topics .item h2 a {
				
				color: #333;
				text-decoration: none;
				
			}

			#main .topics .item p.subject a {
				
				color: #666;
				text-decoration: none;
				
			}

			#main .topics .item p.description {
				
				color: #333;
				font-size: .9em;

			}

	#main .organisations {}

		#main .organisations h2 {

			width: 40px;
			text-align: center;
			color: #fff;
			background-color: #9ADD24;
			padding: 5px;
			border-radius: 5px;

		}
		
		#main .organisations .organisations-list {
			
			display: block;
			list-style: none;
			margin: 0px;
			padding: 0px;
			
		}

			#main .organisations .organisations-list li {
				
				display: block;
				list-style: none;
				border-top: 1px solid #eee;
				font-size: 1.4em;
				line-height: 1.2em;
				padding: 10px 0px;
				margin: 0px;
				
			}

				#main .organisations .organisations-list li a {
					
					color: #333;
					text-decoration: none;
					
				}
				
					#main .organisations .organisations-list li a:hover {
				
						text-decoration: none;
				
					}

					#main .organisations .organisations-list li a small {

						font-size: 0.9em;
						margin-left: 5px;
						color: #555;

					}


	#main .document {}

		#main .document .text {
		
			display: block;
			position: relative;
			background-color: #fff;
			padding: 30px;
			border: 1px solid #ddd;
			border-top-width: 0px;
			max-height: 500px;
			overflow: hidden;
			overflow-x: hidden;
			overflow-y: scroll;
			
		}
			#main .document .text p:last-child {
			
				margin-bottom: 30px;
				
			}
			

		#main .document .viewer {
			
			display: block;
			position: relative;
			border: 1px solid #eee;
			max-height: 500px;
			overflow: hidden;
			overflow-x: hidden;
			overflow-y: scroll;
			padding: 20px;
			box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.25) inset;
			
		}
		
			#main .document .viewer img {
				
				max-width: 100%;
				border: 1px solid #f9f9f9;
				background-color: #fff;
				box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.25);
				margin-bottom: 20px;
				pointer-events: none;
				user-select: none;
				-o-user-select:none;
				-moz-user-select: none;
				-khtml-user-select: none;
				-webkit-user-select: none;
			}
			
		#main .document .list-group-item strong {
			overflow-x: hidden;
			word-wrap: break-word;
			max-width: 100%;
		}
		
		#main .document .shortlink {
			
			display: block;
			position: relative;
			padding: 15px;
			background-color: rgba(255,255,255,0.5);
			border-radius: 5px;
			font-size: 20px;
			font-family: "Menlo", fixed;
			font-weight: bold;
			text-align: left;
			
		}
		
			#main .document .shortlink a.lnk {
				color: #89cf0f;
				text-decoration: none;
			}

			#main .document .shortlink a.btn {
				float: right;
				margin-top: -5px;
			}
	
	#main .documents {}

		#main .documents .doc {
			
			display: block;
			position: relative;
			max-width: 260px;
			height: 260px;
			background: #f9f9f9 url(../img/background-pattern-doc-highlight.png) top left repeat;
			border-radius: 4px;
			box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.55);
			margin-bottom: 30px;
			
		}
		
			#main .documents .doc .created {
				
				display: block;
				position: absolute;
				left: 0px;
				right: 0px;
				bottom: 0px;
				text-align: center;
				font-size: 0.8em;
				color: #999;
				
			}
			
				#main .documents .doc .created:hover {
					text-decoration: none;
				}
			
			#main .documents .doc .badges {
				
				display: block;
				position: absolute;
				right: -2px;
				top: 25px;
				max-width: 85%;
				
			}
			
				#main .documents .doc:hover .badges {
					opacity: 0.5;
					z-index: 100;
				}

				#main .documents .doc .badges span {
			
					display: inline-block;
					float: right;
					clear: both;
					position: relative;
					background-color: #f00;
					margin-bottom: 7px;
					min-height: 16px;
					line-height: 16px;
					padding: 7px 5px;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					color: #fff;
					font-weight: bold;
					text-align: right;
					word-break: break-all;
					hyphens: auto;
					box-shadow: -2px 2px 10px -5px rgba(0,0,0,0.25);
					text-shadow: 0px 0px 3px rgba(0,0,0,0.25);
			
				}
				
					#main .documents .doc .badges span.lang {
					
						text-transform: uppercase;
						background-color: #FFCE54;
					
					}
		
					#main .documents .doc .badges span.comments {
					
						background-color: #4FC1E9;
					
					}
		
					#main .documents .doc .badges span.notes {
					
						background-color: #A0D468;
					
					}
		
					#main .documents .doc .badges span.organisation {
					
						background-color: #444;
					
					}
		
					#main .documents .doc .badges span.topic {
					
						background-color: #89cf0f;
					
					}
		
			#main .documents .doc .thumb {
				
				display: block;
				position: absolute;
				bottom: 30px;
				left: 0px;
				right: 0px;
				max-height: 220px;
				margin: 0px auto;
				padding: 0px 15px;
				/* overflow: hidden; */

			}
						
				#main .documents .doc .thumb img {
					
					display: block;
					max-height: 210px;
					max-width: 100%;
					background-color: #fff;
					margin: 5px auto;
					box-shadow: 0px 0px 7px -5px rgba(0,0,0,0.5);
					transition: transform .3s ease, box-shadow .3s ease; 
					
				}

				#main .documents .doc:hover .thumb img {
					z-index: 200;
					transform: scale(1.3) rotate(5deg) translate(0px, 10px);
					box-shadow: 0px 10px 40px -20px rgba(0,0,0,0.75);
				}
			
			#main .documents .doc .id {
				
				display: block;
				position: absolute;
				bottom: 15px;
				left: 0px;
				right: 0px;
				height: 30px;
				
			}
			
				#main .documents .doc .id a {
					
					display: block;
					position: relative;
					
					font-size: 1.4em;
					height: 35px;
					line-height: 35px;

					width: 120px;
					
					text-align: center;
					border-top-left-radius: 7px;
					border-top-right-radius: 7px;
					margin: 0px auto;

					font-family: "Roboto Slab";
					
					color: #333;
					text-decoration: none;
					font-weight: bold;
					background: #f9f9f9 url(../img/background-pattern-doc-highlight.png) top left repeat;
					box-shadow: 0px -2px 3px -2px rgba(0,0,0,0.2);
					
				}
				
		
footer {
	
	background-color: #444;
	color: #fff;
	margin: 0px;
	padding: 10px 10px;
	line-height: 22px;
	text-align: center;
	z-index: 999;
	
}

	footer a.odc {
		
		display: inline-block;
		text-indent: -99999px;
		width: 70px;
		background: url(../img/odc.png) center center no-repeat;
		
	}
	
	footer a.greens-efa {
		
		display: inline-block;
		text-indent: -99999px;
		width: 50px;
		background: url(../img/greens-efa.png) center center no-repeat;
		
	}
	
	footer a.imprint {
		
		display: inline-block;
		color: #ccc;
		text-decoration: underline;
		
	}
	
