body {
	
	display: block;
	position: relative;
	height: 100%;
	line-height: 1.6em;
	margin: 0px;
	padding: 0px;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	background-color: #e9e9e9;
	background-image:-webkit-radial-gradient(center, #fbfbfb, #f9f9f9);
   background-image:-moz-radial-gradient(center, #fbfbfb, #f9f9f9);
   background-image:radial-gradient(center, #fbfbfb, #f9f9f9);
   
	box-shadow: 0px 0px 200px -100px #000 inset;
	
}

header {
	
	display: block;
	position: relative;
	margin: 0px;
	padding: 0px;
	height: 51px;
	
}

	header #navbar {}
	
		header #navbar a {
			
			color: #ccc;
			
		}

		header #navbar a:focus,
		header #navbar a:hover,
		header #navbar a:active {
			
			color: #fff;
			background-image: linear-gradient(to bottom, #88aa00 0px, #558800 100%);
			background-repeat: repeat-x;
			
		}
		
		header #navbar .navbar-brand {
			font-size: 1.8em;
			color: #fff;
			font-family: "Roboto Slab";
			font-weight: 300;
		}

			header #navbar .navbar-brand i {
				color: #fff;
			}

			header #navbar .navbar-brand strong {
				color: #bd0;
				font-weight: 500;
			}

		
		header #navbar .navbar-nav a {
			
			font-family: "Roboto Slab";
			font-size: 1.2em;
			
		}
		
		header #navbar .navbar-toggle span {
			
			background-color: #fff;
			
		}
		
		header #navbar .navbar-user {
			
			margin-right: 20px !important;
			font-size: .8em;
			
		}

		header #navbar .navbar-user a {
		
			padding-right: 10px;
			padding-left: 10px;
		
		}
		
		header #navbar .navbar-user li a.profile {
			
			padding: 5px 10px;
			margin: 9px 5px;
			line-height: 20px;
			display: block;
			position: relative;
			color: #fff;
			border-radius: 5px;
			border: 1px solid #666;
			
		}
		
			header #navbar .navbar-user li a.profile:hover {
				
				background: none;
				
			}
		
			header #navbar .navbar-user li a.profile .fa {
				
				color: #bd0;
				
			}
		
	
#main {
	
	padding-bottom: 20px;
	
}

	#headline {
		
		margin: 40px -10px 20px;
		
	}
		
		#headline h1 {
			
			font-family: "Roboto Slab";
			font-size: 3em;
			color: #8a0;
			text-shadow: 0px 0px 10px #fff;
			
		}

		#headline h2 {
			
			font-family: "Roboto Slab";
			font-size: 1.2em;
			margin: 0px;
			text-shadow: 0px 0px 10px #fff;
			
		}
	
	#intro {
		
		background-color: #fff;
		padding-bottom: 20px;
		border-radius: 10px;
		
	}
	
	#main h2 {
		
		font-family: "Roboto Slab";
		font-size: 1.4em;
		text-shadow: 0px 0px 10px #fff;
		
	}
	
	#main h3 {
		
		font-family: "Roboto Slab";
		font-size: 1.2em;
		text-shadow: 0px 0px 10px #fff;
		
	}
	
	#main .white-box {
		background-color: #fff;
		padding-bottom: 20px;
		border-radius: 10px;
		margin-bottom: 20px;
	}
	
	#main .password-progress {
		
		height: 14px;
		margin: 0px 0px 3px;
		padding: 0px;
		height: 5px;
		
	}

	#main fieldset {

		border: 1px solid #f9f9f9;
		border-radius: 3px;
		padding: 10px;
		margin-bottom: 20px;

	}
	
		/* thumb well */
		
		#main .thumb-well {

			display: block;
			position: relative;
			height: 155px;
			overflow: hidden;
			overflow-x: auto;
			overflow-y: hidden;
			padding: 10px;
			white-space: nowrap;
			background-color: #fcfcfc;
			box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.5) inset; 
			border: 1px solid #ccc;
			border-radius: 3px;
			margin: 0px 0px 10px;
			
		}

			#main .thumb-well img {
				
				display: inline-block;
				height: 120px;
				background-color: #fff;
				box-shadow: 0px 0px 7px -5px rgba(0,0,0,0.5);
				margin-right: 10px;
				
			}
	
		/* upload */

		#main .review-queue {
			
			display: block;
			position: relative;
			background-color: #fff;
			box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.5);
			padding: 20px;
			
		}
		
		#main .upload-form {
			
			display: block;
			position: relative;
			background-color: #fff;
			box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.5);
			padding: 20px;
			
		}
		
			#main .upload-form .upload-area {
				
				margin: 5px 0px;
				
			}

				#main .upload-form .upload-area .upload-area-drop {
					
					display: block;
					position: relative;
					background-color: #eee;
					border: 2px dashed #ccc;
					text-align: center;
					padding: 50px 10px;
					font-size: 1.2em;
					line-height: 32px;
					font-weight: 600;
					color: #888;
					
				}
				
					#main .upload-form .upload-area .upload-area-drop input[type=file] {
					
						display: none;
					
					}
					
					#main .upload-form .upload-area .upload-area-drop span {
						padding-right: 10px;
					}

						#main .upload-form .upload-area .upload-area-drop span:after {

							content: "\f0ec";
							font-family: FontAwesome;
							font-weight: 300;
							padding-left: 10px;

						}
					
				#main .upload-form .upload-area .upload-queue {
					display: block;
					list-style: none;
					margin: 20px 0px 0px;
					padding: 0px;
				}

				#main .upload-form .upload-area .upload-queue li {

					display: block;
					list-style: none;
					background-color: #eee;
					padding: 15px 0px;
					position: relative;
					height: 80px;

				}

				#main .upload-form .upload-area .upload-queue li+li {

					border-top: 1px dashed #555;

				}

				#main .upload-form .upload-area .upload-queue canvas {
					position: absolute;
					left: 15px;
					top: 15px;
				}

				#main .upload-form .upload-area .upload-queue li input {
					display: none;
				}

				#main .upload-form .upload-area .upload-queue p {

					display: block;
					position: absolute;
					left: 80px;
					right: 60px;
					top: 0px;
					bottom: 0px;

					overflow: hidden;
					white-space: nowrap;

					padding: 20px 0px;
					color: #666;
					font-size: 16px;
					font-weight: bold;
				}

				#main .upload-form .upload-area .upload-queue p i {
					display: block;
					font-weight: normal;
					font-style: normal;
					color: #7f7f7f;
				}

				#main .upload-form .upload-area .upload-queue span {

					display: block;
					position: absolute;
					right: 0px;
					top: 0px;
					bottom: 0px;
					width: 50px;
					cursor: pointer;
					color: #fff;
					line-height: 80px;
					text-align: center;
					font-size: 2em;

				}
				
					#main .upload-form .upload-area .upload-queue .working span .fa-check { display: none; }
					#main .upload-form .upload-area .upload-queue .working span .fa-times { color: #f00; }
					#main .upload-form .upload-area .upload-queue .done span .fa-times { display: none; }
					#main .upload-form .upload-area .upload-queue .done span .fa-check { color: #390; }

				#main .upload-form .upload-area .upload-queue li.error p {
					color:red;
				}
			
		
footer {
	
	background-color: #333;
	color: #fff;
	margin: 0px;
	padding: 19px 10px;
	line-height: 22px;
	text-align: center;
	
}

	footer a.odc {
		
		display: inline-block;
		text-indent: -99999px;
		width: 70px;
		background: url(../img/odc.png) center center no-repeat;
		
	}
	
	footer a.greens-efa {
		
		display: inline-block;
		text-indent: -99999px;
		width: 50px;
		background: url(../img/greens-efa.png) center center no-repeat;
		
	}

/* typeahead css */

.tt-input.fixed {
	border-color: #3C763D;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	background-color: #DFF0D8;
}

.tt-suggestion {
	display: block;
	padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
 	color: #fff;
	cursor: pointer;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
}

.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
	cursor: pointer;
}

.tt-suggestion p {
	margin: 0;
	cursor: pointer;
}

.tt-cursor {
	
	background-color: #bd0;
	
}