{{^html}}
Hi! Someone, hopefully you, requested a password reset for "{{task.email}}".  If that's the case, please follow the link below:
{{{url}}}
If you didn't requested the reset you can ignore this email.
{{/html}}
{{#html}}
    Hi! Someone, hopefully you, requested a password reset for "{{task.email}}".  If that's the case, please follow the link below:<br />
    <a href="{{url}}">Reset Password</a><br /><br />
    If you didn't requested the reset you can ignore this email.<br /><br />
    If you can't click on the link please copy and open the url below to your browser:<br />
	{{url}}
{{/html}}