{{^html}}
Hallo, wir möchte überprüfen, dass "{{task.email}}" wirklich deine E-Mail-Adresse ist. Ist das der Fall, folge bitte dem folgenden Link:
{{url}}
Wenn du dich nicht bei uns angemeldet hast oder deine Adresse überprüfen lassen wolltest, ignoriere bitte diese E-Mail.
{{/html}}
{{#html}}
    Hallo, wir möchte überprüfen, dass "{{task.email}}" wirklich deine E-Mail-Adresse ist.  Ist das der Fall, folge bitte dem folgenden Link:<br />
    <a href="{{url}}">Adresse bestätigen ✔</a><br /><br />
    Wenn du dich nicht bei uns angemeldet hast oder deine Adresse überprüfen lassen wolltest, ignoriere bitte diese E-Mail.<br /><br />
    Wenn du den Link nicht anklicken kannst, kopiere bitte folgende URL in deinen Browser:<br />
	{{url}}
{{/html}}