{{^html}}
Hey, we want to verify that you are indeed "{{task.email}}".  If that's the case, please follow the link below:
{{{url}}}
If you didn't request verification you can ignore this email.
{{/html}}
{{#html}}
    Hey, we want to verify that you are indeed "{{task.email}}". If that's the case, please follow the link below:<br />
    <a href="{{url}}">Confirm Verification ✔</a><br /><br />
    If you didn't request verification you can ignore this email.<br /><br />
    If you can't click on the link please copy and open the url below to your browser:<br />
	{{url}}
{{/html}}