body {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, serif;*/
    /*padding-top: 54px;*/
    /*height: auto;*/
    /*display: block;*/
    /*position: static;*/
    /*overflow-x: hidden;*/
    background-color: #fff;
    background-image: none;
    box-shadow: none;
}

.fa-mouse-pointer {
    cursor: pointer;
}

.selected {
    background-color: #d7d7d3 !important;
}

.doc-view {
    background-color: #333;
    border: solid #ececec 1px;
    min-height: 400px;
    color:#fff;
}

#drop label {
    background-color:#007a96;
    color:#fff;
    padding: 12px 26px;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    line-height:1;
}

#drop label:hover{
    background-color:#0986a3;
}

.input-daterange {
    width: 180px;
}

.table-docs th {
    text-align: left;
}

