body {
    /*background-color: #fff;*/
    /*background-image: none;*/
    /*box-shadow: none;*/
}

.fa-mouse-pointer {
    cursor: pointer;
}

.selected {
    background-color: #d7d7d3 !important;
}

.doc-view {
    background-color: #333;
    border: solid #ececec 1px;
    min-height: 400px;
    color: #fff;
    padding: 20px;
}

#drop label {
    background-color: #007a96;
    color: #fff;
    padding: 12px 26px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}

#drop label:hover {
    background-color: #0986a3;
}

.input-daterange {
    width: 180px;
}

.table th {
    text-align: left;
}

.modal-dialog {
    width: 900px;
}

.modal-dialog .modal-body {
    margin-bottom: 0;
    padding-bottom: 0;
}

#nav-lang {
    position: absolute;
    bottom: 24px;
}

#nav-lang a {
    margin: 6px;
}

.list-title {
    margin-left: 8px;
    line-height: 34px;
}

.nomargins {
    margin: 0;
}

.btn-link {
    color: #000;
}

.btn-link i {
    margin-right: 6px;
}
